#projects {
  background-color: #FFF;
  color: #6C63FF;
  text-align: center;
}

hr {
  max-width: 30%;
  margin: auto;
  background-color: transparent;
  border-bottom: 0;
  border-top: 5px dotted #6C63FF;
}

#projects h2 {
  padding: 4rem 0 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236C63FF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%236C63FF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#projects .btn {
  margin: 4rem auto 6rem;
}
